* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.container-fluid {
  width: 100%;
  margin: auto;
}

.main-heading {
  text-align: center;
  font-size: 1rem;
  background: rgb(127, 216, 179);
  padding: 1rem 0;
  text-shadow: 0.1rem 0.1rem 0.5rem #000;
}

.table {
  font-size: 1rem;
  font-weight: bold;
  background-color: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  margin: 3rem 0;
  width: 100%;
  border-spacing: 0;
}


.table-responsive {
  max-height: 700px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

tr:hover {
  background-color: #ffa;
}

td,
th {
  position: relative;
}
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: none;
}

table:hover::after,
th:hover::after {
  content: "";
  position: absolute;
  background-color: #f2f2f2;
  left: 0;
  top: -5000px;
  height: 5000px;
  width: 100%;
  z-index: -1;
}
.table tr td:hover:nth-child(2) {
  background-color: rgb(117, 223, 122);
  color: aliceblue;
  border: 0.5px solid rgb(12, 12, 12);
}
.table tr td:hover:nth-child(5) {
  background-color: rgb(117, 223, 122);
  color: aliceblue;
  border: 0.5px solid rgb(12, 12, 12);
}

.table tr td:hover:nth-child(3) {
  background-color: rgb(231, 131, 16);
  color: aliceblue;
  border: 0.5px solid rgb(12, 12, 12);
}
.table tr td:hover:nth-child(7) {
  background-color: rgb(231, 131, 16);
  color: aliceblue;
  border: 0.5px solid rgb(12, 12, 12);
}

.table tr td:hover:nth-child(4) {
  background-color: rgb(231, 83, 115);
  color: aliceblue;
  border: 0.5px solid rgb(12, 12, 12);
}

.table tr td:hover:nth-child(6) {
  background-color: rgb(231, 83, 115);
  color: aliceblue;
  border: 0.5px solid rgb(12, 12, 12);
}

.table tr td:hover {
  background-color: gray;
  color: aliceblue;
  border: 0.5px solid rgb(12, 12, 12);
}

.thead-dark {
  font-weight: bold;
  text-transform: capitalize;
}

.footer p {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  margin-top: auto;
  font-size: 1rem;
  padding: 1rem 0;
  font-weight: bold;
  background-color: black;
}


@media screen and (max-width: 768px) {
  .table{
      font-size:1.5rem;
      margin: 3rem 0;
      width:80%;
      border-spacing: 0;
  } 
}
@media screen and (max-width: 550px) { 
  .table , .main-heading , .footer{
      width:100%;
  }
  .table{
      font-size:1rem;
      margin:3rem 0;
      border-spacing: 0;
  }
  .main-heading{
    font-size:2rem; 
 } 
}